.sidebarPageContainer {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: aqua;
}

.sidebar {
  background-color: silver;
  text-align: right;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: bisque;
}

.sidebar li {
  list-style: none;
  font-weight: bold;
}

.sidebar li:not(:last-child) {
  margin-bottom: 50px;
}
