@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
/* Position and sizing of burger button */

.bm-burger-button {
  position: fixed;
  width: 2.5vw;
  min-width: 25px;
  height: 2.5vw;
  min-height: 25px;
  right: 32px;
  top: 21px;
}

.bm-burger-button:hover {
  color: grey;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */

/* Color/shape of close button cross */

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  top: 0;
  height: 100%;
  width: 5px !important;
  z-index: 20 !important;
  box-shadow: 0 10px 10px rgba(128, 128, 128, 0.527);
  display: table;
}

/* General sidebar styles */
.bm-menu {
  background: #f8f8f8;
  padding: 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(255, 255, 255, 0) !important;
  display: none !important;
}
/* 
.main-container {
} */

.menu-item {
  color: black;
  background-color: transparent;
  border-color: transparent;
  text-decoration: none;
  margin-bottom: 25px;
  border-bottom: solid 1px silver;
  direction: rtl;
  padding-right: 0;
  margin-right: 0;
  font-weight: 700;
  font-size: calc(8px + 0.5vw);
  font-family: "Cairo", sans-serif;
  display: inline-block;
  text-align: center;
  transition: 0.3s;
}

.menu-item:first-child {
  margin-top: 70px;
}

.menu-item:hover .fa {
  color: grey;
  size: 1px !important;
}

.menu-item:hover,
.menu-item:focus {
  color: grey;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none !important;
}

#page-wrap {
  text-align: center;
  justify-content: center;
}

.fa {
  color: #d49847;
  font-size: 2rem;
  transition: 0.3s;
}

.fa:hover {
  color: grey;
}
