.header {
  height: 70px;
  width: 100vw;
  position: fixed;
  background-color: #f8f8f8;
  box-shadow: 0 2px 10px rgba(128, 128, 128, 0.527);
  z-index: 10;
  position: relative;
}

.maamourLogo {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 21px;
  top: 10px;
  background-color: rgba(129, 128, 128, 0.192);
  border-radius: 20px;
}

.title {
  font-family: "Cairo", sans-serif;
  text-align: center;
  font-weight: 700;
}

.titleCustom {
  color: #d49847;
}
