.cards {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  font-family: "Cairo", sans-serif;

  /* grid-auto-rows: 50px; */
  /* column-gap: 1.5rem; */
}

.card {
  margin: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 5px 0 rgb(216, 213, 213);
  height: 400px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.card:active {
  box-shadow: 1px 1px 1px 0 rgb(216, 213, 213);
  transform: translateY(2px);
}

.card:focus .description {
  display: inline-block;
}

.card:hover .description {
  display: inline-block;
}

.card:hover,
.card:focus {
  background-color: rgba(128, 128, 128, 0.418);
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  width: 90%;
  direction: rtl;
  display: none;
  transition: all 0.3s;
}

.header {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  background-color: #d49847;
}

.iconWrapper {
  text-align: center;
}

.icon {
  width: 90%;
  height: 90%;
  color: #d49847;
}

.cardButton {
  background-color: #d49847;
  border: none;
  font-size: 12px;
  font-weight: bold;
}
