.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1.5fr));
  font-family: "Cairo", sans-serif;

  /* grid-auto-rows: 50px; */
  column-gap: 1.5rem;
}

.card {
  margin: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 5px 0 rgb(216, 213, 213);
  height: 400px;
  border-radius: 20px;
}

/* @supports (display: grid) {
  main {
    max-width: 10000px;
    margin: 0;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem;
  }
} */

.header {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  background-color: #d49847;
}

.iconWrapper {
  text-align: center;
}

.icon {
  width: 90%;
  height: 90%;
  color: #d49847;
}

.cardButton {
  background-color: #d49847;
  border: none;
  font-size: 12px;
  font-weight: bold;
}
