.header {
  height: 70px;
  width: 100vw;
  position: fixed;
  background-color: #f8f8f8;
  box-shadow: 0 2px 10px rgba(128, 128, 128, 0.527);
  z-index: 21;
  position: relative;
}

.maamourLogo {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #373a473a;
  border-radius: 20px;
}

.title {
  font-family: "Cairo", sans-serif;
  text-align: center;
  font-weight: 900;
  padding-top: 8px;
  text-align: center;
}

.titleCustom {
  color: #d49847;
}

.titleLink {
  text-decoration: none;
  color: black;
}

a {
  cursor: pointer;
}
