.container {
  background-color: #333333;
  height: 40vh;
  width: 100vw;
  z-index: -20 !important;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: "Cairo", sans-serif;
  color: white;
}

.logoContainer {
  margin-top: 10px;
}

.BlackLogo {
  width: 20vw;
  height: 20vw;
  max-width: 140px;
  max-height: 140px;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 5%;
}

.title {
  color: white;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: calc(5% + 21vmin);
}

/* .title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 150%;
  border-bottom: solid 1px white;
} */

.titleCustom {
  color: #d49847;
}

.subTitle {
  color: #d49847;
  color: white;
  margin-top: calc(15px + 25vmin);
}

.infoContainer {
  direction: rtl;
  text-align: center;
  size: 100%;
}

h5 {
  font-family: inherit;
  font-size: calc(10px + 2vw) !important;
}

.contact,
.location {
  transform: translateY(20%);
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  .container {
    height: 200px;
  }
}
