.container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: "Cairo";
  display: inline;
  background-color: white;
  font-size: 300%;
  font-weight: bold;
  border-radius: 10px;
}
